
/*INFINTE SCROLLING BACKGROUND*/
.overlay{
    background:url(https://www.toptal.com/designers/subtlepatterns/patterns/dark_wood.png);
    -webkit-animation:100s scroll infinite linear;
    -moz-animation:100s scroll infinite linear;
    -o-animation:100s scroll infinite linear;
    -ms-animation:100s scroll infinite linear;
    animation:100s scroll infinite linear;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

/*PAGE IDENTIFIERS FOR NAV*/
.onPage{
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
}


/*NAV BUTTON STYLING*/
button:hover{
    border-bottom: 1px solid #FFF;
}

/*NAV BAR GRID*/
#nav{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 1;
    grid-column: 2/3;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/*NAV BAR BUTTON STYLING*/
button {
    border: none;
    background: none;
    width: 200px;
    margin-top: 4%;
    display: inline;
    color: #FFF;
    font: 30px Lobster;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}


/*CONTENT GRID (NOT CURRENTLY IN USE)*/
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    margin:auto;
    text-align: center;
    grid-gap: 5px;
    font-size: larger;
}


/*DOWNLOAD RESUME BUTTON PLACEMENT*/
p:first-child{
    margin-top: 7%;
    padding-bottom: 5px;
}

/*STYLING FOR SECONDARY RESUME POINTS*/
p{
    margin:0;
    padding-left: 20px;
    /*border-left: 2px solid #FFF;*/
    /*border-left-style: ridge;*/
    /*margin-right: 150px;*/
    color:#FFF;
    text-align:left;
    font:30px Lobster;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}

/*FONT STYLING FOR RESUME BULLETS*/
.smaller{
    font:24px Lobster;
    margin:0;
}

/*STYLING FOR RESUME POINTS*/
li{
    font-size: larger;
    color: #FFF;
    list-style-type: circle;
    text-align: left;
    margin-right: 33%;
}

/*RESUME PLACEMENT*/
#resume{
    margin-top: 2%;
}












@-webkit-keyframes scroll{
    100%{
        background-position:0px -3000px;
    }
}

@-moz-keyframes scroll{
    100%{
        background-position:0px -3000px;
    }
}

@-o-keyframes scroll{
    100%{
        background-position:0px -3000px;
    }
}

@-ms-keyframes scroll{
    100%{
        background-position:0px -3000px;
    }
}

@keyframes scroll{
    100%{
        background-position:0px -3000px;
    }
}

/* visited link */
a:visited {
    color: #FFF;
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
.download{
    background-color: cadetblue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    margin-left: 45%;
    margin-right: 45%;
}
